@using LKWSpringerApp.Web.ViewModels.Tour
@model DeleteTourModel

@{
    ViewData["Title"] = "Delete Tour";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2><u>Delete tour</u></h2>
</div>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">@Model.TourName</h3>
                <p class="text-muted text-center">Tour Number: @Model.TourNumber</p>
                <p class="text-danger mt-3 text-center">Are you sure you want to delete the tour "@Model.TourName"?</p>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteConfirmed" method="post">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-warning">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
