@model IEnumerable<LKWSpringerApp.Web.ViewModels.ClientImage.AllClientImageModel>

@{
    ViewData["Title"] = "Client Media";
}

<h2><u>Client Media List</u></h2>

<div class="mb-3 text-end">
    <a asp-action="Add" class="btn btn-success">Add Media</a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-light">
            <tr>
                <th>Client Name</th>
                <th>Media Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                <tr>
                    <td>@client.ClientName</td>
                    <td>@client.MediaCount</td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@client.ClientId" class="btn btn-primary">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<div/>