@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-text">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core" style="color: #000; text-decoration: underline;">building Web apps with ASP.NET Core</a>.</p>
</div>
